In [29]:
import pandas as pd

import numpy as np

import sklearn

In [30]:
train_data = pd.read_csv('kc_house_train_data.csv')

test_data = pd.read_csv('kc_house_test_data.csv')

In [31]:
train_data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,1.738400e+04,1.738400e+04,17384.000000,17384.000000,17384.000000,1.738400e+04,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000,17384.000000
mean,4.574349e+09,5.393666e+05,3.369363,2.115048,2080.029510,1.509191e+04,1.494248,0.007651,0.236079,3.410780,7.655028,1787.844512,292.184998,1971.152727,83.107973,98077.936896,47.559313,-122.213281,1985.994995,12776.380867
std,2.872356e+09,3.696912e+05,0.906468,0.771783,921.630888,4.145927e+04,0.539443,0.087136,0.768008,0.649792,1.169818,827.107595,444.404136,29.328722,398.692283,53.525617,0.138703,0.140906,686.512835,27175.730523
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.159300,-122.519000,399.000000,651.000000
25%,2.124087e+09,3.200000e+05,3.000000,1.750000,1420.000000,5.049500e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1200.000000,0.000000,1952.000000,0.000000,98033.000000,47.468650,-122.328000,1490.000000,5100.000000
50%,3.892800e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.616000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571400,-122.229000,1840.000000,7620.000000
75%,7.304301e+09,6.400000e+05,4.000000,2.500000,2550.000000,1.066525e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98117.000000,47.677625,-122.125000,2360.000000,10065.250000
max,9.900000e+09,7.700000e+06,10.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

### close form

In [34]:
def simple_linear_regression(input_feature, output):
    X = np.array([np.ones(len(input_feature)), input_feature]).T
    intercept, slope = np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), output)
    return intercept, slope

In [56]:
intercept, slope = simple_linear_regression(train_data['sqft_living'], train_data['price'])

Write a function that accepts a column of data `input_feature`, the `slope`, and the `intercept` you learned, and returns an a column of predictions `predicted_output` for each entry in the input column. e.g. in python:

In [57]:
def get_regression_predictions(input_feature, intercept, slope):
    return input_features.apply(lambda x: intercept + slope * x)

In [58]:
(lambda x: intercept + slope * x)(2650)

700074.84594751336

Write a function that accepts a column of data `input_feature`, the `slope`, and the `intercept`, and outputs the Residual Sum of Squares (RSS). e.g. in python:

In [59]:
def get_residual_sum_of_squares(input_feature, output, intercept, slope):
    return np.sum((input_features * slope + intercept - output) ** 2)

In [60]:
get_residual_sum_of_squares(train_data['sqft_living'], train_data['price'], intercept, slope)

1201918354177283.0

In [61]:
def inverse_regression_predictions(output, intercept, slope):
    return (output - intercept) / slope

In [62]:
(800000 - intercept) / slope

3004.3962451522775

In [63]:
def evaluate_feature_rss(fea):
    intercept, slope = simple_linear_regression(train_data[fea], train_data['price'])
    return get_residual_sum_of_squares(test_data[fea], test_data['price'], intercept, slope)

In [64]:
evaluate_feature_rss('sqft_living')

837297347575957.38

In [65]:
evaluate_feature_rss('bedrooms')

3.5410286555219001e+20